.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: white;
}

.navbar.navbar-default {
  background-image: none;
  background-color: #ff0000;
  border-style: none;
  border-width: 0px;
  border-color: #ff0000;
  border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a {
  background-image: none;
  background-color: white;
}
